extends pug-layout/_layout
block content
    section.single-annonce.my-5
        .container
            .row
                .col-8
                    each image, index in annonce.images
                        img.img-fluid(src=image alt=annonce.car.brand + ' ' + annonce.car.model + ' - ' + annonce.car.details.version + ' n°' + (index + 1))
                .col-4
                    .card.sticky-card.shadow.border-0.sticky-top
                        .card-body
                            h1.card-title.mb-0.h3 #{annonce.car.brand} #{annonce.car.model}
                            h2.card-subtitle.h6.text-muted  #{annonce.car.details.version}
                            p.card-text.h1.my-4 #{annonce.price} €
                            p Vendeur : #{annonce.user}
                            a.btn.btn-primary.w-100(href='#') Contactez le vendeur

            .row
                .col-8
                    ul.list-2.my-4.aligned-items
                        li
                            span Couleur :
                            span.color-square.ml-2(style='background:'+annonce.car.details.color)
                        li
                            span Places :
                                b  #{annonce.car.details.places}
                        li
                            span Portes :
                                b  #{annonce.car.details.places}
                        li
                            span Kilométrage :
                                b  #{annonce.car.details.km}km
                        li
                            span Energie :
                                b  #{annonce.car.details.energy}
                        li
                            span Année de production :
                                b  #{annonce.car.details.productionYear}
                        li
                            span Transmission :
                                b  #{annonce.car.details.transmission}
                        li
                            span Chevaux (dynamiques) :
                                b  #{annonce.car.details.hp}ch
                        li
                            span Chevaux (fiscaux) :
                                b  #{annonce.car.details.cf}cv
                    h3 Informations complémentaires
                    p #{annonce.content}
